<h1> Job application for Heroes</h1>
<form >
  <label for="fname">First name: </label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Email: </label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="cars">Choose a car:</label>
  <select name="cars" id="cars">
    <option value="volvo">Solid</option>
    <option value="saab">Great</option>
    <option value="opel">Good</option>
    <option value="audi">Unproven</option>
  </select><br><br>
  <input type="submit" value="Submit">
</form>
