<h1> Job application for Heroes</h1>
<form [formGroup]="dynamicform">
  <label for="fname">First name: </label>
  <input type="text" formcontrlName="fname" id="fname" name="fname" formControlName="fname"><br><br>
  <label for="email">Email: </label>
  <input type="text" formcontrolName="email" id="lname" name="lname" formControlName="email"><br><br>
  <!-- <div >field required</div> -->
  <label for="cars">Choose a car:</label>
  <select name="cars" id="cars">
    <option value="volvo">Solid</option>
    <option value="saab">Great</option>
    <option value="opel">Good</option>
    <option value="audi">Unproven</option>
  </select><br><br>
  <input type="submit" value="Submit">
</form>
